<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/main.css') }}">
    <title>Frontend Mentor | Todo app</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Adicionar nova tarefa</h1>
        <form action="/create" method="POST" class="task-form">
            <input type="text" name="description" class="task-input" required placeholder="Descrição da tarefa">
            <button type="submit" class="submit-btn">Criar tarefa</button>
        </form>
        <h1 class="title">Lista de Tarefas</h1>
        <ul class="task-list">
            {% for task in tasks %}
                <li class="task-item">
                    <form action="/update/{{ task.id }}" method="POST" class="inline-form">
                        <input type="text" name="description" value="{{ task.description }}" class="task-input">
                        <button type="submit" class="update-btn">Atualizar</button>
                    </form>
                    <form action="/delete/{{task.id}}" method="POST" class="inline-form">
                        <button type="submit" class="delete-btn">Excluir</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
